<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello world hbs {{user.name}}</h1>
    <h1>hello world hbs {{user.age}}</h1>
    <h1>hello world hbs {{user.gender}}</h1>
</body>
</html>